body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.hero-wrapper {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
  filter: brightness(0.6);
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  padding: 20px;
}

.hero-slider {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 215px;
  position: relative;
}

.hero-quote-slide {
  position: absolute;
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease;
  width: 80%;
  text-align: center;
}

.hero-quote-slide.active {
  opacity: 1;
  transform: translateX(0);
}

.hero-quote-slide:not(.active) {
  transform: translateX(-100%);
}

.hero-quote-text {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}


.dots-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
}

.active-dot {
  background-color: #ffae00;
  transform: scale(1.3);
  box-shadow: 0 0 10px rgba(255, 200, 0, 0.8);
}

.join-btn {
  margin-top: 40px;
  padding: 15px 45px;
  background: linear-gradient(90deg, #ffae00, #ffdf00);
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  box-shadow: 0px 0px 15px rgba(255, 200, 0, 0.5);
}

.join-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 25px rgba(255, 200, 0, 0.8);
}


@media (max-width: 768px) {
  .hero-wrapper{
    width:100%;
    height: 67vh;
  }
  .hero-quote-text {
    font-size: 1.6rem;
  }

  .join-btn {
    font-size: 1rem;
    padding: 12px 30px;
  }

  .dot {
    width: 10px;
    height: 10px;
  }
}
