.workout-section {
  background-color: #111;
  color: #fff;
  padding: 80px 10%;
  text-align: center;
}

.workout-title {
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 60px;
  color: #ffcf40;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.workout-card {
  opacity: 0;               
  visibility: hidden;      
  transform: translateX(0); 
  transition: transform 0.5s ease-out, opacity 0.5s ease-out, visibility 0s linear 0.5s;
}

.workout-card:nth-child(odd) {
  transform: translateX(-120px);
}
.workout-card:nth-child(even) {
  transform: translateX(120px);
}

.workout-card.show-card {
  opacity: 1;
  visibility: visible;     
  transform: translateX(0);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.workout-card:nth-child(1) { transition-delay: 0.1s; }
.workout-card:nth-child(2) { transition-delay: 0.2s; }
.workout-card:nth-child(3) { transition-delay: 0.3s; }
.workout-card:nth-child(4) { transition-delay: 0.4s; }
.workout-card:nth-child(5) { transition-delay: 0.5s; }
.workout-card:nth-child(6) { transition-delay: 0.6s; }


.workout-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.workout-card {
  background: #fffdfd;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(255, 215, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
}

.workout-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 25px rgba(255, 215, 0, 0.3);
}

.workout-img-container {
  position: relative;
  height: 250px;
  overflow: hidden;
}

.workout-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.workout-card:hover .workout-img {
  transform: scale(1.05);
}

.workout-day {
  position: absolute;
  top: 15px;
  left: 15px;
  background: linear-gradient(90deg, #ffae00, #ffdf00);
  color: #000;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 1rem;
}

.workout-content {
  padding: 25px 20px 35px;
}

.workout-heading {
  color: #5e490d;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.workout-info {
  color: #4b3939;
  margin-bottom: 15px;
  font-size: 0.95rem;
  font-family: sans-serif;
}

.workout-details h4 {
  color: #413803;
  margin: 10px 0 5px;
  font-size: 1rem;
  font-family: sans-serif;
}

.workout-details ul {
  padding-left: 20px;
  color: #362f2f;
  font-size: 0.9rem;
  list-style-type: disc;
  font-family: sans-serif;
}

.workout-btn {
  margin-top: 20px;
  background: linear-gradient(90deg, #ffae00, #ffdf00);
  border: none;
  color: #000;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.workout-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #ffdf00;
}

@media (max-width: 768px) {
  .workout-grid {
    grid-template-columns: 1fr;
  }

  .workout-title {
    font-size: 2rem;
  }
}
